body {
    margin: 0 auto;
    width: 100%;
}

.nav-bar {
    height: 70px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.829);
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    height: 70px;
}

.nav-list {
    float: right;
    margin-top: 10px;
}

.list-item {
    display: inline-block;
    background-color: rgba(158, 165, 180, 0.829);
    padding: 8px;
    margin-right: 20px;
    border:  3px solid #fff;
    border-radius: 20px;
    color: #c70101;
    /* float: left; */
    /* text-decoration: none; */
}

.list-item a {
    text-decoration: none;
}

.list-item:hover {
    background-color: #c70101;
}

.list-item a:hover{
    color: #fff;
}

.list-item:visited {
    color: #000;
}

.container {
    height: 800px;
    width: 100%;
}

.banner {
    height: 700px;
    width: 100%;
    background-image: url(../img/cameras.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
}

.banner-text h1 {
    height: 100px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.829);
    position: absolute;
    left: 20px;
    bottom: 100px;
}

.banner-text h1:hover {
    background-color: rgba(158, 165, 180, 0.829);
}


.column {
    border: 3px solid rgb(42, 134, 170);
    height: 650px;
    width: 48%;
   float: left;
   margin-left: 25px;
}

.box {
    height: 320px;
    width: 100%;
    border: 3px solid rgba(101, 148, 250, 0.829);
}

/* .box {
    height: 280px;
    width: 600px;
    border: 3px solid rgba(158, 165, 180, 0.829);
    position: relative;
    top: 20px;
    left: 30px;
} */

.col-box1 img {
    height: 200px;
    width: 100%;
} 

.col-box2 img {
    height: 200px;
    width: 500px;
    position: absolute;
    top: 40px;
    left: 50px;
}

.column p {
    padding: 20px;
}