body {
    margin: 0 auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.nav-bar {
    height: 55px;
    width: 100%;
    background-color:rgb(229 204 160 / 79%);
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    height: 55px;
}

.nav-list {
    float: right;
    margin-top: 10px;
}

.list-item {
    display: inline-block;
    rgba(255, 255, 255, 0.829);
    padding: 8px;
    margin-right: 20px;
    border:  3px solid rgba(255, 255, 255, 0.973);
    border-radius: 5px;
    color: #5a1616;
    /* float: left; */
    /* text-decoration: none; */
}

.list-item a {
    text-decoration: none;
}

.list-item:hover {
    background-color: #c70101;
}

.list-item a:hover{
    color: #fff;
}

.list-item:visited {
    color: #000;
}

.container {
    height: 800px;
    width: 100%;
}

.banner {
    height: 700px;
    width: 100%;
    background-image: url(../img/IMG-2095.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
}


.banner-text h1 {
    height: 161px;
    width: 965px;
    background-color: rgb(2 122 167 / 22%);
    position: absolute;
    left: 177px;
    bottom: 177px;
    font-size: 9em;
    font-family: 'Roboto', sans-serif;
    line-height: 1.1;
    text-align: center;
}

.banner-text h1:hover {
    background-color:rgb(2 122 167 / 50%);
}

.banner-text h2 {
    height: 64px;
    width: 260px;
    background-color: rgb(2 122 167 / 22%);
    position: absolute;
    left: 504px;
    bottom: 156px;
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 1.1;
    text-align: center;
}
}

.banner-text h2:hover {
    background-color: rgb(2 122 167 / 50%);
}


.column {
    border: 3px solid rgb(42, 134, 170);
    height: 650px;
    width: 47%;
    float: left;
    margin-left: 25px;
    padding-top: 10px;
}

.box {
    height: 260px;
    width: 555px;
    border: 3px solid rgba(101, 148, 250, 0.829);
    position: relative;
    top: 50px;
    left: 15px;
    display: inline-block;
}

.col-box1 img {
    height: 260px;
    width: 100%;
    padding-bottom: 20px;} 

.col-box2 img {
    height: 219px;
    width: 504px;
    position: absolute;
    top: 21px;
    left: 25px;
}

.column p {
    font-family: 'Mukta', sans-serif;
    padding: 20px;
    line-height: 1.1;
}

.index-footer {
    height: 43px;
    width: 100%;
    position: relative;
}

.footer {
    background-color: rgb(239 239 241);
    height: 43px;
    width: 100%;
    position: relative;
    top: 300px;
}

.footer-col {
    height: 25px;
    width: 31%;
    float: left;
    margin-left: 29px;
    margin-top: 10px;
}

.button {
    height: 20px;
    width: 60px;
}

.footer-col p {
    font-size: 1.4em;
    font-weight: 300;
}

.button, .input, .footer-col p {
    display: inline-block;
    margin: auto;
}

.fab {
    font-size: 1.9em;
    margin-top: -13px;
    padding: 5px;
}

.fa-instagram-square {
  color: #000;
}

.fa-facebook-square {
    color: #000;   
}

.fa-linkedin {
    color: #000;
}   

.container {
    height: 600px;
    width: 75%;
    background-color: rgb(2 122 167 / 22%);
    margin: 0 auto;
    margin-top: 69px;
    border-radius: 5px;
}
form {
    height: 400px;
    width: 100%;
    position: absolute;
    top: 114px;
    left: 316px;
}

label {
    display: inline-block;
    height: 30px;
    width: 144px;
}

#contact-box {
    display: inline-block;
    height: 20px;
    width: 400px;
}

.about-container {
    height: 600px;
    width: 75%;
    background-color: rgb(2 122 167 / 22%);
    margin: 0 auto;
    margin-top: 90px;
    border-radius: 5px;
}

#message {
    height: 300px;
    width: 550px;
}

